.home_blog_container{
  .col-lg-6{
    margin-bottom: 70px;
    @include _media-lg-down() {
      margin-bottom: 30px;
    }
  }
  .press_pagination{
    display: none;
  }
  .press_item{
    display: flex;
    height: 100%;
    align-items: center;
    min-height: 360px;
    background-color: $grey20;
    @include _media-lg-down() {
      height: auto;
      flex-wrap: wrap;
    }
    .press_item_title{
      text-transform: uppercase;
        h5{
          color: $grey100;
          transition: all 0.3s ease-in-out;
        }
    }
    .press_item_img{
      width: 50%;
      display: block;
      height: 100%;
      overflow: hidden;
      @include _media-lg-down() {
        width: 100%;
        height: 250px;
      }
      @include _media-xs-down() {
        height: 300px;
        margin-top: 0;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        background-position: center;
      }
      &:hover{
        img{
          transform: scale(1.2);

        }
      }
    }
    .press_item_wrapper{
      width: 50%;
      height: 100%;
      padding: 25px 20px 100px 20px;
      position: relative;
      @include _media-lg-down() {
        width: 100%;
        height: 325px;
      }
      @include _media-small-down() {
        height: auto;
        padding: 20px 20px 100px 20px;
      }
      .home_news_btn{
        display: inline-flex;
        width: auto;
        height: 60px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid $grey70;
        margin-top: 35px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 40px;
        letter-spacing: 0.1em;
        @include _media-small-down() {
          bottom: 20px;
        }
        &:hover{
          background-color: $grey80;
          color: white;
        }
      }
    }
  }
}




.home_blog_container1 {
  .press_item {
    img {
      width: 100%;
      height: 560px;
      object-fit: cover;
      margin-bottom: 25px;
      transition: all 0.3s ease-in;

      &:hover {
        transform: translateY(-5px);
        opacity: 0.9;
      }

      @include _media-small-down() {
        height: 400px;
      }
      @include _media-xs-down() {
        width: 100%;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 10px;
        margin-top: 30px;
      }
    }

    h4 {
      font-size: 30px;
      color: $grey100;
      padding: 10px 0px;
      transition: all 0.3s ease-in;

      &:hover {
        color: $brand-primary;
      }
    }

    .press_item_cat {
      color: $brand-primary;
    }
  }
}
.fullscreen_slider_item{
  min-height: 600px;
  display: flex !important;
  align-items: center;
  background-size: cover;
  background-position: center;
  @include  _media-lg-down() {
    min-height: 828px;
  }
  @include  _media-md-down() {
    min-height: 550px;
    padding: 100px 0;
  }
  @include  _media-small-down() {
    min-height: 550px;
  }
  @include  _media-xs-down() {
    min-height: 550px;
  }
  .container{
    div{
      max-width: 750px;
      width: 100%;
      color: white;
      h5{
        padding-left: 5px;
      }
      h1{
        line-height: 1.1em;
        letter-spacing: 0.07em;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      a{
        width: 302px;
        height: 60.02px;
        background: #FFFFFF;
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #111111;
        margin-top: 30px;
        text-align: center;
        display: block;
        transition:all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          background-color: $grey10;
        }
        font-size:$h5;
        @include  _media-lg-down() {
          font-size:$h5-lg;
        }
        @include  _media-md-down() {
          width: 219px;
          height: 50px;
          font-size:$h5-md;
        }
        @include  _media-small-down() {
          width: 211px;
          height: 47px;
          font-size:$h5-sm;
        }
        @include  _media-xs-down() {
          font-size:$h5-xs;
        }
      }
    }
  }
}