.contact_section {
  margin-top: 70px;
}


.validation_error{
  border: none !important;
  color: $red !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}


#root .gform_wrapper .gform_body .gform_fields  .gfield_error{
  border: none !important;
  background-color: unset !important;
  padding-top: 0;
  max-width: 100% !important;
  label{
    color: $brand-primary !important;
  }
}

#root .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0;
}



.form_block {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  max-width: 650px;
  @include _media-big-down() {max-width: 570px;}
  @include _media-lg-down() {max-width: 80%;
  margin-left: 10%;
    padding-left: 0;
  }
  @include _media-small-down() {max-width: 100%;
    margin-left: 0;}
  @include _media-xs-down() {max-width: 100%;
  height: 700px;
    padding-top: 35px !important;
    padding-bottom: 60px;
    }

  .name_first{
    label{
      display: none !important;
    }
  }

  .gform_description{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
.s12{
  width: 100%;
}
  .gform_heading {
    text-align: center;
    font-size: $h3 !important;
    font-weight: 400 !important;
    @include _media-xs-down() {
      font-size: $h3-sm !important;
    }
  }
.ginput_container_select{
  padding: 0 !important;
  margin-top: -12px;
}

  .gform_title {
    height: 100%;
    font-size: $h2;
    color: $brand-primary;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative;
    &:before{
      content: " ";
      position:absolute;
      width: 53px;
      height: 3px;
      background-color: white;
      bottom: 0;
    }
  }


  .form-example {
    display: inline-table;
  }

  form {
    max-width: 100% !important;
    margin: auto;
    padding-bottom: 20px;
    @include _media-md-down() {
      max-width: 100% !important;
      margin: auto;
    }
    @include _media-small-down() {
      max-width: 100%;
    }
    @include _media-xs-down() {
      max-width: 100%;
    }
   li{
     padding-left: 15px !important;
     padding-right: 15px !important;
     margin-top: 15px !important;
     max-width: 100% !important;
   }
    select:focus {
      outline: 0px solid $grey50 !important;
    }
    input, select{
      width: 100% !important;
      border: 1px solid $brand-primary;
     background:none;
      margin: 0 !important;
      margin-top: 3px !important;
      height: 45px;
      padding-left: 15px !important;
      color: $brand-primary;
      border-radius: 5px !important;
      display: block;
      &:focus{
        box-shadow: none !important;
        border: 1px solid gray;
        border: 1px solid gray !important;
      }
    }
    select{
      color: $grey60;
    }
    input::placeholder {
      color: $brand-primary;
    }
    select::placeholder {
      color: $brand-primary;
    }
    textarea {
      //margin-top: 10px;
      padding-left: 15px !important;
      padding-right: 15px !important;
      width: 100%;
      border: 1px solid $brand-primary;
      margin-top: 3px !important;
     background: none;
      color: $brand-primary;
      height: 170px !important;
      border-radius: 5px !important;
      &:focus{
            border: 1px solid gray !important;
        box-shadow: none !important;
        //background-color: white !important;
        border: 1px solid gray;
      }
    }

    textarea::placeholder {
      color: $brand-primary;
    }

    label {
      font-size: 15px !important;
      color: $brand-primary;
      font-weight: 400 !important;
      @include _media-xs-down() {
        font-size: 14px !important;
      }
    }

    .ginput_container {
      margin-top: 0 !important;
    }

    .ginput_container_checkbox{
      padding-left: 15px;
      input{
        display: none !important;
      }
      label{
        padding-left: 25px;
      }
    }

    .ginput_container_select{
      padding-left: 15px;
      margin-top: 12px !important;
    }
  }

  .gform_footer {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    @include _media-small-down() {
      padding: 15px;
    }

    .gform_button {
      padding: 0 !important;
      margin: 0 !important;
      border: 1px solid $brand-primary !important;
      height: 50px;
      font-family: $family-title;
      font-size: 18px !important;
      font-weight: 400;
      line-height: 29px;
      text-align: center;
      background-color: $brand-primary !important;
      color: white !important;
      transition: 0.3s ease-out;
      font-weight: 600;
      @include _media-lg-down() {
        height: 52px;
      }
      @include _media-small-down() {
        width: 100%;
      }

      &:hover {
        background-color: #111111 !important;
        color: white !important;
        border: 1px solid white !important;
      }
    }
  }


  .validation_message {
    color: red !important;
    padding-top: 0 !important;
    position: absolute;
    font-weight: 100 !important;
    margin-top: 2px;
    font-size: 13px !important;
    transition: all .3s ease-in-out;
  }

  .help_block {
    display: none;
  }

  .btn_hover {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    padding-right: 0px !important;

  }

  .help_form {
    &:hover {
      .help_block {
        top: 17px;

      }

    }

    .help_block {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      top: -40%;
      // margin-top: 30px;
      color: red;
      align-items: center;
      transition: all .9s ease-in-out;

    }

    .help_block_active {
      top: 5px;
      // right: 200px;
      @include _media-md-down() {
        top: 0;
      }
    }


  }

  .gform_button:disabled {
    background-color: $grey50 !important;
    color: $grey80 !important;
cursor: pointer;
    font-weight: 600;
    border: 1px solid white !important;
    @include _media-lg-down() {
      background-color: white !important;
    }
      &:hover {

          background-color: $grey50 !important;
          color: $grey80 !important;
          border: 1px solid $red !important;

      .help_block {
        top: 5px !important;
      }
    }
  }

  .form_link {
    margin-top: 80px;

    a {
      width: 33%;
      display: inline-block;
      text-align: center;
      font-size: $h4;
      color: $grey50;
      transition: all .3s ease-in-out;

      i {
        color: $grey50;
        margin-right: 10px;
        transition: all .3s ease-in-out;
      }

      @include _media-lg-down() {
        font-size: $h4-sm;
      }
      @include _media-md-down() {
        width: 100%;
        line-height: 2em;
      }

      &:hover {
        color: $grey100;

        i {
          color: $grey100;
        }
      }
    }

  }


}


.gform_confirmation_message {
  padding: 50px !important;
  h3, p {
    text-align: center;
    color: $brand-primary;
  }
}


.submit_perent {
  display: none;


  .submit_popup_con {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 3%;
    background: linear-gradient(135deg, rgba(28, 37, 40, 0.8) 0, rgba(54, 61, 72, 0.8) 50%, rgba(25, 26, 28, 0.8) 100%);
    z-index: 9999;

  }

  .gform_confirmation_wrapper {
    margin-bottom: 30px;
  }

  .submit_popup_form {
    width: 476px;
    // height: 600px;
    padding: 35px;
    padding-bottom: 10px;
    background-color: white;
    color: $grey50;
    position: absolute;
    top: -100vh;
    left: 50%;
    margin-left: -238px;
    z-index: 99999;
    transition: all .7s ease-in-out;
    // i{
    //   position: absolute;
    //   z-index: 10;
    //   margin-top: 13px;
    // }


    button {
      background-color: rgba(0, 0, 0, 0);
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      color: #C4C4C4;
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      i {
        position: static;
        margin: 0;
      }
    }


    h4 {
      color: $grey60;
      padding: 20px 0 50px 0;
    }


    @include _media-small-down() {
      width: 96%;
      margin-left: 0;
      margin: 0px;
      left: 2%;
    }


  }

}

.gform_confirmation_message{
  color: $brand-primary;
  font-size: 1.3em;
  padding-left: 0px;
}


.gform_wrapper .ginput_container span:not(.ginput_price) {
  margin-bottom: 0px !important;
  display: block;
}
#gform_confirmation_message_1{
  text-align: center;
}